@{
    ViewData["Title"] = "Results";
    var results = ViewBag.Results as List<OsintEyeWeb.Models.AccountResult>;
}

<div class="container mt-5">
    <h2 class="text-center">Subdomain Results</h2>

    @if (ViewBag.Subdomains != null && ((List<OsintEyeWeb.Models.SubdomainUrl>)ViewBag.Subdomains).Any())
    {
        <div class="table-responsive mt-4">
            <table class="table table-striped border-secondary">
                <thead class="thead-dark">
                    <tr>
                        <th>Subdomain</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var subdomain in (List<OsintEyeWeb.Models.SubdomainUrl>)ViewBag.Subdomains)
                    {
                        <tr>
                            <td class="text-light">@subdomain.Subdomain</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-warning text-center mt-4" role="alert">
            No subdomains found. Please check the domain and try again.
        </div>
    }
</div>
